body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert{
  position: absolute !important;
  top: 100px !important;
  right: 40px !important;
  width: 200px !important;
  z-index: 5;
}

.task-list-page{
  padding-top: 120px;
}

.hide {
  display: none !important;
}

.show{
  display: block !important;
}

.add-task-button {
  position:fixed;
	bottom:40px;
  left:40px;
  width: 150px;
  border-radius: 20px !important;
  background-color: #2F0152 !important;
  border-color: #2F0152 !important;
	color:#FFF;
	text-align:center;
  box-shadow: 2px 2px 3px #FFF;
  z-index: 5;
  font-size: 24px;
  padding: 5px;
  margin: 10px;

  /* padding: 20px; */
}

.edit-task {
  border: 1px solid black;
  border-radius: 15px;
  padding: 30px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form{
  margin: 10px;
  justify-content: center;
}