/* Static background image */
.landing-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: none;
}
/* Used to control the filter that is over the .landing-background */
.landing-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Control the hero-container that is a part of react-bootstraps jumbotron */
.jumbotron.hero-container {
  background-color: rgba(0, 0, 0, 0);
  min-height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* Text over the Hero */
.landing-title {
  letter-spacing: 0.8px;
  color: rgb(255, 255, 255);
}

/* Section 1 */
.landingWhat {
  background-color: rgba(234, 255, 254, 1);
  height: 40vh;
}

/* Section 2 */
.landingHow {
  background-color: rgba(234, 255, 254, 1);
  height: 40vh;
}

/* Section 3 */
.landingCall {
  background-color: rgba(234, 255, 254, 1);
  height: 40vh;
}

/* Footer */
.landingFooter {
  background-color: rgba(234, 255, 254, 1);
  height: 40vh;
}
